<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Exceptron.Client" version="0.1.0.36-alpha" targetFramework="net40" />
  <package id="FluentAssertions" version="1.7.1.1" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NLog" version="2.0.0.2000" targetFramework="net20" />
  <package id="NUnit" version="2.6.0.12054" targetFramework="net20" />
</packages>